/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* Trạng thái ban đầu: mờ + hơi trượt xuống */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.9s ease;
}

.reveal.show {
  opacity: 1;
  transform: none;
}
 /* nut croll len dau tranng */
#topBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
  background: black;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /* Hiệu ứng ban đầu */
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;

  transition: opacity .6s ease, transform .6s ease;
  z-index: 9999;
}

/* Khi hiện ra */
#topBtn.show-btn {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

@media (max-width: 600px) {
  #topBtn {
    width: 35px;
    height: 35px;
    bottom: 15px;
    right: 15px;
  }

  #topBtn svg {
    font-size: 20px; 
  }
}